<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<!-- Etiqueta para invocar -->
<dom-module id="visor-cuenta">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
        .tabla {
          style="width:100%"
        }
    </style>
    <div class="row justify-content-start" class="card-title" >
       <div class="col-3">
         Iban
       </div>
       <div class="col-3">
          Saldo
       </div>
    </div>

    <template is="dom-repeat" items="{{accounts}}" id="accountsList">
          <div class="row justify-content-start" class="card-body">
             <div class="col-3">
             {{item.iban}}
             </div>
             <div class="col-3">
             {{item.balance}}
             </div>
        </div>
        <paper-button on-click="listaMovtos" class="paperbutton">Movimientos</paper-button>
        <paper-dropdown-menu label="Quiero">
           <paper-listbox slot="dropdown-content" class="dropdown-content">
              <paper-item><paper-button on-click="ingreso" class="paperbutton2">Ingresar</paper-button>
              </paper-item></br>
              <paper-item><paper-button on-click="sacarDinero" class="paperbutton2">Sacar Dinero</paper-button>
              </paper-item></br>
              <paper-item><paper-button on-click="transferencia" class="paperbutton2">Transferencia</paper-button>
              </paper-item>
           </paper-listbox>
        </paper-dropdown-menu>
    </template>
    <iron-ajax
        auto=""
        id="getAccount"
        url="http://localhost:3000/apitechu/v1/users/{{user_id}}/account"
        handle-as="json"
        on-response="showData"/>
  </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
           iban: {
              type: String
           }, user_id: {
              type: Number
           }, balance: {
              type: Number
           }, accounts:{
              type: Array
           }, id_account: {
              type: Number
           }
        };
      }
      showData(data){
          console.log("showData");
          console.log(data.detail.response);
          this.accounts = data.detail.response;
      }
      listaMovtos(e){
          console.log("movimientos");
          var item = this.$.accountsList.itemForElement(e.target);
          console.log(item);
          this.dispatchEvent(
                new CustomEvent ("account-movtos", {
                  "detail":{
                   "iban": item.iban,
                   "id_account": item.id,
                   "user_id" : item.user_id
                }}
              )
          );
      }
      ingreso(e){
          console.log("ingreso");
          var item = this.$.accountsList.itemForElement(e.target);
          console.log(item);
          this.dispatchEvent(
                new CustomEvent ("new-ope", {
                  "detail":{
                   "iban": item.iban,
                   "id_account": item.id,
                   "balance": item.balance,
                   "type_movto": 0,
                   "type_ope": 0,
                   "user_id" : this.user_id
                },"cancelable":true}
              )
          );
     }
     sacarDinero(e){
         console.log("sacarDinero");
         var item = this.$.accountsList.itemForElement(e.target);
         console.log(item);
         this.dispatchEvent(
               new CustomEvent ("new-ope", {
                 "detail":{
                  "iban": item.iban,
                  "id_account": item.id,
                  "balance": item.balance,
                  "type_movto": 1,
                  "type_ope":1
               }, "cancelable":true}
             )
         );
     }
     transferencia(e){
         console.log("transferencia");
         var item = this.$.accountsList.itemForElement(e.target);
         console.log(item);
         this.dispatchEvent(
               new CustomEvent ("new-transferencia", {
                 "detail":{
                   "iban": item.iban,
                   "id_account": item.id,
                   "balance": item.balance,
                  "type_ope":2
               }}
             )
         );
    }

    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
