er<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<!-- Etiqueta para invocar -->
<dom-module id="visor-movtos">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <style>
      :host {
        display: block;
      }
      .tabla {
        font-family:sans-serif;
        style="width:100%;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
    <div class="card">
      <div class="card-header">
      Lista de Movimientos
      </div>
      <div class="card-body">
        <div class="row" class="card-title">
           <div class="col">
           Nº Movimiento
           </div>
           <div class="col">
           Fecha
           </div>
           <div class="col">
           Importe
           </div>
           <div class="col">
           Observaciones
           </div>
       </div>
     </br>
    <template is="dom-repeat" items="{{movtos}}" id="movtosList">
      <div class="row" class="card-text">
         <div class="col">
         {{item.id}}
         </div>
         <div class="col">
         {{item.date_operation}}
         </div>
         <div class="col">
         {{item.import}}
         </div>
         <div class="col">
         {{item.observation}}
         </div>
       </div>
    </template>
    </div>
    </div>
    <iron-ajax
        auto=""
        id="getMovtos"
        url="http://localhost:3000/apitechu/v1/account/{{id_account}}/movtos"
        handle-as="json"
        on-response="showData"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovtos extends Polymer.Element {
      static get is() { return 'visor-movtos'; }
      static get properties() {
        return {
    //      prop1: {
    //        type: String
    //       value: 'frontproyecto-app'
    //      }
           id: {
              type: Number
           }, id_account: {
              type: Number
           }, date_operation: {
              type: Date
           }, movtos:{
              type: Array
           }, type_movto: {
              type: Number
           }, import: {
              type: Number
          }, observation: {
             type: String
          }, movtosOk:{
             type: Boolean
          }
      };
    }
      showData(data){
          console.log("showData");
          console.log(data.detail.response);
          this.movtos = data.detail.response;
      }
    }
    window.customElements.define(VisorMovtos.is, VisorMovtos);
  </script>
</dom-module>
