<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<!-- Etiqueta para invocar -->
<dom-module id="gestion-usuario">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
    </style>
    <iron-pages selected="{{page}}" attr-for-selected="name">
        <div name="alta-usuario">
           <alta-usuario on-new-user="openDialog" on-new-error="openDialog"></alta-usuario>
        </div>
        <div name="sin-usuario">
           <sin-usuario></sin-usuario>
        </div>
      </iron-pages>
      <paper-dialog id="dialog">
        <p>{{msg}}</p>
        <div class="paperbutton">
           <paper-button dialog-confirm autofocus>Cerrar</paper-button>
        </div>
      </paper-dialog>
  </template>
<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestionUsuario extends Polymer.Element {
      static get is() { return 'gestion-usuario'; }
      static get properties() {
        return {
          page: {
              type: String,
              value: 'alta-usuario',
              observer: '_pageChanged'
           }, msg: {
              type: String
           }
        };
      }
      openDialog(e) {
        console.log('dialog')
        this.msg=e.detail.msg 
        this.$.dialog.open();
        this.page = "sin-usuario"
      }
      _pageChanged(page) {
        console.log('pasa ' + page)
       var resolvedPageUrl = this.resolveUrl('../' + page + '/' + page + '.html');
       Polymer.importHref(
          resolvedPageUrl,
          null,
          console.log(resolvedPageUrl),
        true);
       }
    }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(GestionUsuario.is, GestionUsuario);
  </script>
</dom-module>
