<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Etiqueta para invocar -->
<dom-module id="modifico-saldo">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperinput{
                width: 25%;
                }
    </style>
    <iron-ajax
        id="doSaldo"
        method="POST"
        body="[[getAjaxBody(amount, id_account, type_movto)]]"
        url="http://localhost:3000/apitechu/v1/modsaldo"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModificoSaldo extends Polymer.Element {
      static get is() { return 'modifico-saldo'; }
      static get properties() {
        return {
           id_account: {
              type: Number
           }, amount: {
              type: Number
           }, type_movto: {
              type: Number
           }, saldoOk: {
              type: Boolean
           }, operacion: {
              type: Boolean,
              observer: '_controlOperacion'
           }
  //         notify:true,
  //         observer: "saldoOkChanged"        }
        };
      }

      _controlOperacion()
      {
        if (this.operacion)
        {
           this.$.doSaldo.generateRequest();
        }
      }
      getAjaxBody(amount, id_account, type_movto) {
        var newModSaldo  = {
          "import": this.amount,
          "id_account": this.id_account,
          "type_movto": this. type_movto
        }
        return JSON.stringify(newModSaldo);
      }
      manageAJAXResponse(data)
      {
        this.dispatchEvent(
              new CustomEvent ("saldo-event", {
                "detail":{
                 "saldoOk": true,
                 "id_account": this.id_account,
                 "saldoAct": data.detail.response.saldoAct
              }, "cancelable":true, "cancelBubble":true}
            )
        );
        console.log("modifcico saldo")
      }
      showError(error)
      {
        console.log("Hubo un error");
        this.dispatchEvent(
              new CustomEvent ("saldo-event", {
                "detail":{
                 "saldoOk": false
              }, "cancelable":true, "cancelBubble":true}
            )
        );
      }
    }
    window.customElements.define(ModificoSaldo.is, ModificoSaldo);
  </script>
</dom-module>
