<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Etiqueta para invocar -->
<dom-module id="sin-usuario">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
  </template>
<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class SinUsuario extends Polymer.Element {
      static get is() { return 'sin-usuario'; }
      static get properties() {
        return {};
      }
    }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(SinUsuario.is, SinUsuario);
  </script>
</dom-module>
