<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<!-- Etiqueta para invocar -->
<dom-module id="login-usuario">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperinput{
                width: 25%;
                }
    </style>
    <div class="card">
      <div class="card-header">
      Login de Usuario
      </div>
      <div class="card-body">
        <h5 class="card-title">Introduce usuario y password para comenzar</h5>
          <paper-input name="email" type="email" label="Email" required class="paperinput" value="{{email::input}}"></paper-input>
          <paper-input name="password" type="password" label="Password" required class="paperinput" value="{{password::input}}"></paper-input>
          <paper-button on-click="login" class="paperbutton">Login</paper-button>
      </div>
    </div>
    <paper-dialog id="dialog">
    </br>
      <p>{{msg}}</p>
      <div class="paperbutton">
         <paper-button dialog-confirm autofocus>Cerrar</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax
        id="doLogin"
        method="POST"
        url="http://localhost:3000/apitechu/v1/login"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
    //      prop1: {
    //        type: String
    //       value: 'frontproyecto-app'
    //      }
           id: {
              type: Number
           }, first_name: {
              type: String
           }, last_name: {
              type: String
           }, email: {
              type: String
          },  password: {
              type: String
         },  msg: {
             type: String
         },  logged: {
           type: Boolean,
           notify:true,
           observer: "loggedChanged"        }
        };
      }
      login(){
          console.log("Botón login pulsado");
          var loginData  = {
            "email": this.email,
            "password": this.password
          }
          // estamos cediendo al DOM con el dolar
          this.$.doLogin.body = JSON.stringify(loginData);
          // petición con todo lo que tenemos
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");

      }
      manageAJAXResponse(data)
      {
        console.log("Respuesta recibida");
        this.first_name = data.detail.response.firstNameUsuario;
        this.last_name = data.detail.response.lastNameUsuario;
        this.id = data.detail.response.idUsuario;
        this.logged = true;

      }
      showError(error)
      {
        console.log("Hubo un error");
        console.log(error);
        this.msg = "Login Incorrecto"
        this.$.dialog.open()
      }
      loggedChanged(e){
          console.log("mando envento")
          console.log(e)
          this.dispatchEvent(
                new CustomEvent ("logged-data", {
                  "detail":{
                   "logado": this.logged,
                   "id": this.id,
                   "first_name" : this.first_name,
                   "last_name" : this.last_name
                }}
              )
          );
      }

    }

    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
