<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<!-- Etiqueta para invocar -->
<dom-module id="opero-ingreso-saco">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
               }
               .paperbutton[disabled] {
                      background: #C0C0C0;
                      color: white;
                      font-family:sans-serif;
                     }
      .paperinput{
                   width: 25%
               }

    </style>
    <div class="card-body">
        <h5> Saldo disponible: [[balance]] </h5>
    </div>
    <iron-input allowed-pattern="[,.0-9]">
        <input name="amount_movtos" placeholder="Importe" value={{import::input}} required ></br></br>
    </iron-input>
    </br>
    <iron-input>
        <input name="observation" placeholder="Observaciones" value={{observaciones::input}}>
    </iron-input>
    <div class="card-body">
         <h5> Progreso de la Operación </h5>
    </div>
    <div class="progress">
       <div class="progress-bar progress-bar-striped" role="progressbar" style=[[barWidth]] aria-valuenow=[[barValue]] aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <iron-pages selected="{{proceso}}" attr-for-selected="name">
      <div name="modifico-saldo">
          <modifico-saldo amount={{amount}} id_account={{id_account}} type_movto={{type_movto}} operacion={{operacion}}
                          on-saldo-event="movimiento">
          </modifico-saldo>
      </div>
      <div name="alta-movto">
          <alta-movto amount={{amount}} observ={{observ}} id_account={{id_account}} type_movto={{type_movto}} operacion={{operacion}}
                      on-movto-event="altaMovto">
          </alta-movto>
      </div>
      <div name="pre-proceso">
        </br>
        <paper-button on-click="operar" class="paperbutton" disabled={{operacion}}>Operar</paper-button>
      </div>
    </iron-pages>
    <paper-dialog id="dialog">
      <p>{{msg}}</p>
      <div class="paperbutton">
         <paper-button dialog-confirm autofocus>Cerrar</paper-button>
      </div>
    </paper-dialog>
 </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperoIngresoSaco extends Polymer.Element {
      static get is() { return 'opero-ingreso-saco'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, balance: {
            type: Number
          }, type_movto: {
            type: Number
          }, id_account: {
            type: Number
          }, fecha_ope: {
            type: Date
          }, amount: {
            type: Number
          }, import: {
            type: Number
          }, observ: {
            type: String
          }, observaciones: {
            type: String
          }, msg: {
            type: String
          }, operacion: {
            type: Boolean,
            value: false
          }, proceso: {
            type: String,
            value: "pre-proceso",
            observer: '_procesoChanged'
          }, control: {
            type: Number,
            value: 0,
            observer: '_controlChanged'
          }, barWidth: {
            type: String,
            value: "width: 0%"
          }, barValue: {
            type: String,
            value: "0%"
          }
      };
     }
    operar(e) {
      console.log("Petición enviada");
      this.amount = Number(this.import)
        this.proceso = "modifico-saldo";
        this.amount = Number(this.import)
        this.observ = this.observaciones;
        this.import = ""
        this.observaciones = ""
        this.operacion = true
        e.preventDefault()
        this.barWidth="width: 50%"
        this.barValue="50%"
    }
    altaMovto(e) {
      console.log('alta Movimiento')
      this.control = ++this.control
      this.msg=e.detail.msg
      e.preventDefault()
    }
    movimiento(e) {
      console.log("Paso a movimiento");
      if (e.detail.saldoOk == true) {
          this.proceso = "alta-movto"
          this.control = ++this.control
          this.balance = e.detail.saldoAct
          e.preventDefault()
      } else {
             this.msg = "error modificar saldo"
             this.$.dialog.open()
             this.control = 0
             this.barWidth="width: 0%"
             this.barValue="0%"
             this.proceso="pre-proceso"
      }
    }
    _procesoChanged(proceso) {
      if ((this.proceso == "modifico-saldo")||(this.proceso == "alta-movto"))
      {
        var resolvedPageUrl = this.resolveUrl('../' + proceso + '/' + proceso + '.html');
        Polymer.importHref(
           resolvedPageUrl,
           null,
           console.log(resolvedPageUrl),
           true);
      }
    }
    _controlChanged(control) {
      console.log('pasa control' + this.control)
      if (this.control == 1)
      {
        this.barWidth="width: 100%"
        this.barValue="100%"
      }
      if (this.control == 2)
      {
         this.msg = "Operación realizada correctamente"
         this.proceso="pre-proceso"
         this.operacion = false
         this.control = 0;
         this.barWidth="width: 0%"
         this.barValue="0%"
         console.log(this.control)
         this.dispatchEvent(
               new CustomEvent ("operacion-ok", {
                 "detail":{
                  "msg": this.msg
               }, "cancelable":true,"cancelBubble":true}
             )
         )
      }
    }
  }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(OperoIngresoSaco.is, OperoIngresoSaco);
  </script>
</dom-module>
