<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Etiqueta para invocar -->
<dom-module id="page-not-found">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
<!--    <h2>Hello [[prop1]]!</h2> -->
  <div class="card">
    <div class="card-header">
    Aviso
    </div>
    <div class="card-body">
      <h5 class="card-title">Recurso no encontrado</h5>
      <p class="card-text">La página a la que pretendes acceder no exisite, si desdeas continuar vuelve al Inicio</p>
    </div>
  </div>
  </template>
<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {};
      }
    }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
