<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!-- Etiqueta para invocar -->
<dom-module id="alta-usuario">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
               }
      .paperinput{
               width: 25%;
               }
    </style>
    <div class="card">
      <div class="card-header">
      Alta de Usuario
      </div>
      <div class="card-body">
        <h5 class="card-title">Introduce los datos del nuevo usuario</h5>

        <iron-form id="myForm"
                on-iron-form-presubmit="_presubmit">
        <form method="post" action="//httpbin.org/post" enctype="application/json">
          <paper-input name="first_name" label="Nombre" required class="paperinput"></paper-input>
          <paper-input name="last_name" label="Apellido" required class="paperinput"></paper-input>
          <paper-input name="email" type="email" label="Email" required class="paperinput" on-changed="noValidar"></paper-input>
          <paper-input name="password" type="password" label="Password" required class="paperinput"></paper-input>
          <paper-button on-tap="_submit" class="paperbutton">Submit</paper-button>
        </form>
        </iron-form>
      </div>
    </div>
    <iron-ajax
       id="doAlta"
       method="POST"
       url="http://localhost:3000/apitechu/v1/altausu"
       content-type="application/json"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError"/>
 </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          altaOk: {
            type: Boolean,
            notify:true,
            observer: "altaOkChanged"
          }, submitOk:{
            type: Boolean,
            value: true
          }, email: {
            type: String
          }, msg: {
            type: String
          }
        };
      }

    _presubmit(e) {
      // datos del formulario
      var altaData = this.$.myForm.request.body;
      this.$.doAlta.body = this.$.myForm.request.body;
      // petición con todo lo que tenemos
      this.$.doAlta.generateRequest();
      console.log("Petición enviada");
      console.log("altaData");
    }

    manageAJAXResponse(data)
    {
      console.log("Respuesta recibida");
      this.dispatchEvent(
            new CustomEvent ("new-user", {
              "detail":{
               "msg": data.detail.response.msg
            }}
          )
      );
    }
    showError(error)
    {
      console.log("Hubo un error");
      this.dispatchEvent(
            new CustomEvent ("new-error", {
              "detail":{
               "msg": "Error al recueperar los datos",
            }}
          )
      );
      console.log(error);
    }
    _submit() {
      this.$.myForm.submit();
      console.log("pasosubmit")
    }
  }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
