<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<!-- Etiqueta para invocar -->
<dom-module id="logout-usuario">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
    </style>
    <paper-button on-click="logout" class="paperbutton">Logout</paper-button>
    <iron-ajax
        id="doLogout"
        method="POST"
        url="http://localhost:3000/apitechu/v1/logout"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
           id: {
              type: Number
           }, logged: {
           type: Boolean,
           notify:true,
           observer: "loggedChanged"
         }, user_id: {
            type: Number
         }
        };
      }
      logout(){
          console.log("Botón logout pulsado");
          var logOutId  = {"id": this.id}
          // estamos cediendo al DOM con el dolar
          console.log("id" + logOutId)
          this.$.doLogout.body = JSON.stringify(logOutId);
          // petición con todo lo que tenemos
          this.$.doLogout.generateRequest();
          console.log("Petición enviada");

      }
      manageAJAXResponse(data)
      {
        console.log("Respuesta recibida");
        this.id = data.detail.response.idUsuario;
        this.logged = false;

      }
      showError(error)
      {
        console.log("Hubo un error");
        console.log(error);
      }
      loggedChanged(e){
          console.log("mando envento")
          console.log(e)
          this.dispatchEvent(
                new CustomEvent ("unlogged-data", {
                  "detail":{
                   "logado": this.logged,
                   "id": this.id,
                }}
              )
          );
      }

    }

    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
