<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/gold-iban-input/gold-iban-input.html">


<!-- Etiqueta para invocar -->
<dom-module id="opero-transfiero">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
               }
      .paperbutton2 {
                   background: #E6E6E6;
                   color: #4682B4;
                   font-family:sans-serif;
               }
      .paperinput{
               width: 25%;
               }

    </style>
        <paper-button on-click="reset" class="paperbutton2">Reseteo Pantalla</paper-button>
        <div class="card-body">
            <h5> Saldo disponible: [[balance]] </h5>
        </div>
    <iron-input allowed-pattern="[,.0-9]">
        <input name="amount_movtos" placeholder="Importe" value={{import::input}} required ></br></br>
    </iron-input>
    </br>
    <iron-input>
        <input name="observation" placeholder="Observaciones" value={{observaciones::input}}>
    </iron-input>
    <gold-iban-input auto-validate required label="Iban" class="paperinput" value={{iban_destino::input}} required></gold-iban-input>
      <div class="card-body">
           <h5> Progreso de la Operación </h5>
      </div>

    <div class="progress">
       <div class="progress-bar progress-bar-striped" role="progressbar" style=[[barWidth]] aria-valuenow=[[barValue]] aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <iron-pages selected="{{proceso}}" attr-for-selected="name">
      <div name="modifico-saldo">
          <modifico-saldo amount={{amount}} id_account={{id_account}} type_movto="1" operacion={{opera_origen}}
                          on-saldo-event="movimiento">
          </modifico-saldo>
          <modifico-saldo amount={{amount}} id_account={{id_account_destino}} type_movto="0" operacion={{opera_destino}}
                          on-saldo-event="movimientoDes">
          </modifico-saldo>
      </div>
      <div name="alta-movto">
          <alta-movto amount={{amount}} observ={{observ}} id_account={{id_account}} type_movto="1" operacion={{opera_origen}}
                      on-movto-event="altaMovto">
          </alta-movto>
          <alta-movto amount={{amount}} observ={{observ}} id_account={{id_account_destino}} type_movto="0" operacion={{opera_destino}}
                      on-movto-event="altaMovtoDes">
          </alta-movto>
      </div>
      <div name="pre-proceso">
        </br>
        <paper-button on-click="operar" class="paperbutton" >Operar</paper-button>
      </div>
    </iron-pages>

    <paper-dialog id="dialog">
      </br>
      <p>{{msg}}</p>
      <div class="paperbutton">
         <paper-button dialog-confirm autofocus>Cerrar</paper-button>
      </div>
     </paper-dialog>

     <iron-ajax
        id="getIban"
        url="http://localhost:3000/apitechu/v1/iban"
        handle-as="json"
        content-type="application/json"
        headers="[[getAjaxHeader(iban_des)]]"
        on-response="manageAJAXResponse"
        on-error="showError"/>
 </template>

<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperoTransfiero extends Polymer.Element {
      static get is() { return 'opero-transfiero'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, iban_des: {
             type: String
          }, iban_destino: {
             type: String
          }, balance: {
            type: Number
          }, balance_destino: {
            type: Number
          }, type_movto: {
            type: Number
          }, id_account: {
            type: Number
          }, id_account_destino: {
            type: Number
          }, fecha_ope: {
            type: Date
          }, amount: {
            type: Number
          }, import: {
            type: Number
          }, observ: {
            type: String
          }, observaciones: {
            type: String
          }, msg: {
            type: String
          }, opera_origen: {
            type: Boolean,
            value: false
          },opera_destino: {
            type: Boolean,
            value: false
          }, proceso: {
            type: String,
            value: "pre-proceso",
            observer: '_procesoChanged'
          }, control : {
            type: Number,
            value: 0,
            observer: '_controlChanged'
          }, barWidth: {
            type: String,
            value: "width: 0%"
          }, barValue: {
            type: String,
            value: "0%"
          }
      };
     }
     getAjaxHeader(iban_des) {
       var newIban  = {
         "iban" : this.iban_des
       }
       return newIban;
     }
     manageAJAXResponse(data)
     {
       if (data.detail.response.sinCta == true)
       {
          console.log("pasa sin destino")
          this.opera_destino = false
       } else {
         console.log("pasa con destino")
         console.log(data.detail.response.id)
         this.id_account_destino = data.detail.response.id
         this.balance_detino = data.detail.response.balance
         this.opera_destino = true
       }
       this.opera_origen = true
     }
     showError(error)
     {
       console.log("Hubo un error");
       this.page = "pre-proceso"
       this.dispatchEvent(
             new CustomEvent ("tranfer-event", {
               "detail":{
                "ibanOk": false
             }, "cancelable":true, "cancelBubble":true}
           )
       );
     }
      operar(e) {
      console.log("Petición enviada paso por operar");
      this.amount = Number(this.import)
      this.proceso = "modifico-saldo"
      this.observ = this.observaciones
      this.iban_des = this.iban_destino
      this.import = ""
      this.observaciones = ""
      this.iban_destino = ""
      console.log(this.$.getIban.headers)
      this.$.getIban.generateRequest();
      e.preventDefault()
      this.barWidth="width: 25%"
      this.barValue="25%"
      this.control = 0
    }
    reset(e) {
    console.log("Reseteo de datos pantalla");
    this.iban_destino = ""
    this.import = ""
    this.observaciones = ""
    this.proceso="pre-proceso"
    this.opera_origen = false
    this.opera_destino = false
    this.control=0
    }

    altaMovto(e) {
      console.log('alta Movimiento')
      console.log(e)
      if (this.id_account == e.detail.id_account)
      {
        if (e.detail.movtoOk == true) {
          this.control = ++this.control
          this.msg = e.detail.msg
          e.preventDefault()
        } else {
          this.msg = "error alta movto origen"
          this.$.dialog.open()
          this.control = 0
          this.proceso="pre-proceso"
        }
        console.log(this.control)
      }
    }
    movimiento(e) {
      console.log(e)
      console.log("Paso a movimiento");
      if (this.id_account==e.detail.id_account)
      {
        if (e.detail.saldoOk == true) {
            this.proceso = "alta-movto"
            this.control = ++this.control
            this.balance = e.detail.saldoAct
            e.preventDefault()
        } else {
               this.msg = "error modificar saldo origen"
               this.$.dialog.open()
        }
      }
    }
    altaMovtoDes(e) {
      console.log('alta Movimiento Des')
      console.log(e)
      if (this.id_account_destino==e.detail.id_account)
      {
        if (e.detail.movtoOk == true)
        {
          this.control = ++this.control
          this.msg=e.detail.msg
          e.preventDefault()
        } else {
          this.msg = "error alta movto destino"
          this.$.dialog.open()
          this.control = 0
          this.proceso="pre-proceso"
        }
        console.log(this.control)
      }
    }
    movimientoDes(e) {
      console.log('alta Movimiento Des')
      console.log(e)
      if (this.id_account_destino==e.detail.id_account)
      {
        if (e.detail.saldoOk == true) {
            this.proceso = "alta-movto"
            this.control = ++this.control
            this.balance = e.detail.saldoAct
            e.preventDefault()
        } else {
               this.msg = "error modificar saldo destino"
               this.$.dialog.open()
               this.control = 0
               this.proceso="pre-proceso"
        }
      }
    }
    _procesoChanged(proceso) {
      if ((this.proceso == "modifico-saldo")||(this.proceso == "alta-movto"))
      {
        var resolvedPageUrl = this.resolveUrl('../' + proceso + '/' + proceso + '.html');
        Polymer.importHref(
           resolvedPageUrl,
           null,
           console.log(resolvedPageUrl),
           true);
      }
    }
    _controlChanged(control) {
      console.log('pasa control' + this.control)
      if ((this.control == 1)&&(this.opera_destino==false))
      {
        this.barWidth="width: 100%"
        this.barValue="100%"
      }
      if ((this.control == 1)&&(this.opera_destino==true))
      {
        this.barWidth="width: 50%"
        this.barValue="50%"
      }
      if ((this.control == 2)&&(this.opera_destino==true))
      {
        this.barWidth="width: 75%"
        this.barValue="75%"
      }
      if ((this.control == 3)&&(this.opera_destino==true))
      {
        this.barWidth="width: 100%"
        this.barValue="100%"
      }
      if (((this.control == 2)&&(this.opera_destino==false))||(this.control == 4))
      {
         this.msg = "Operación realizada correctamente"
         this.proceso="pre-proceso"
         this.opera_origen = false
         this.opera_destino = false
         this.control = 0
         this.barWidth="width: 0%"
         this.barValue="0%"
         this.id_account_destino = 0
         this.dispatchEvent(
               new CustomEvent ("transferencia-ok", {
                 "detail":{
                  "msg": this.msg
               }, "cancelable":true,"cancelBubble":true}
             )
         )
      }
    }
  }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(OperoTransfiero.is, OperoTransfiero);
  </script>
</dom-module>
