<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<!-- Etiqueta para invocar -->
<dom-module id="gestor-proceso">
 <!-- Parte que pinta -->
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
     </style>
      <iron-pages selected="{{page}}" attr-for-selected="name">
        <div name="opero-transfiero">
          <div class="card">
              <div class="card-header">
              Transferencia con origen: [[iban]]
              </div>
          <div class="card-body">
            <logout-usuario on-unlogged-data="esNoLogado" id={{user_id}}></logout-usuario>
            <opero-transfiero on-homeButton="homePage" on-transferencia-ok="vueltaPosicion"
                                   iban={{iban}} id_account={{id_account}} balance={{balance}}>
            </opero-transfiero></br>
            <paper-button on-click="homePage" class="paperbutton">Posición Cuentas</paper-button>
          </div>
          </div>
         </div>
         <div name="opero-ingreso-saco">
            <div class="card">
                <div class="card-header">
                Operación sobre la cuenta: [[iban]]
                </div>
            <div class="card-body">
                <logout-usuario on-unlogged-data="esNoLogado" id={{user_id}}></logout-usuario>
                <opero-ingreso-saco on-homeButton="homePage" on-operacion-ok="vueltaPosicion"
                                 iban={{iban}} id_account={{id_account}} balance={{balance}} type_movto={{type_movto}}>
                </opero-ingreso-saco></br>
                <paper-button on-click="homePage" class="paperbutton">Posición Cuentas</paper-button>
            </div>
            </div>
          </div>
          <div name="visor-movtos">
          </br>
             <logout-usuario on-unlogged-data="esNoLogado" id={{user_id}}></logout-usuario>
           </br>
             <visor-movtos id_account={{id_account}} on-homeButton="homePage"></visor-movtos></br>
             <paper-button on-click="homePage" class="paperbutton">Posición Cuentas</paper-button>
          </div>
          <div name="visor-cuenta">
              <div class="card">
              <div class="card-header">
               Posición de cuentas del cliente: [[nameLogado]]
              </div>
              <div class="card-body">
              <logout-usuario on-unlogged-data="esNoLogado" id={{user_id}}></logout-usuario>
              </br>
              <visor-cuenta user_id={{user_id}} on-account-movtos="movtosAccount" on-new-ope="newOpe" on-new-transferencia="newTransf">
              </visor-cuenta>
              </div>
            </div>
          </div>
          <div name="login-usuario">
             <login-usuario on-logged-data="esLogado"></login-usuario>
          </div>
          <div name="sin-usuario">
             <sin-usuario></sin-usuario>
          </div>
        </iron-pages>
        <paper-dialog id="dialog">
        </br>
          <p>{{msg}}</p>
          <div class="paperbutton">
             <paper-button dialog-confirm autofocus>Cerrar</paper-button>
          </div>
        </paper-dialog>
  </template>
<!-- Ejecución de script -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorProceso extends Polymer.Element {
      static get is() { return 'gestor-proceso'; }
      static get properties() {
        return {
          nameLogado: {
            type: String
          }, user_id: {
            type: Number
          },user_bk: {
            type: Number
          }, page: {
            type: String,
            value: 'login-usuario',
            observer: '_pageChanged'
          }, msg: {
            type: String
          }, id_account: {
            type: Number
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, type_movto: {
            type: Number
          }, msg: {
            type: String
          }
        };
      }

      esLogado(e) {
        console.log("captura-eventos logado")
        console.log(e)
        this.nameLogado = e.detail.first_name + ' ' + e.detail.last_name
        this.user_id = e.detail.id
        this.user_bk = e.detail.id
        e.detail.logado ? this.page = "visor-cuenta" : this.msg = "login incorrecto"
      }
      esNoLogado(e) {
        console.log("captura-eventos no logado")
        console.log(e)
        this.nameLogado = 'Gracias por acceder a nuestro sistema!'
        this.user_id = e.detail.id
        e.detail.logado  ? this.msg = "logout incorrecto" : this.page = "sin-usuario"
      }
      movtosAccount(e) {
        console.log("captura-eventos movimientos")
        console.log(e)
        this.id_account = e.detail.id_account
        this.page = "visor-movtos"
      }
      newOpe(e) {
        console.log("nuevo-ingreso")
        console.log(e)
        this.id_account = e.detail.id_account
        this.iban = e.detail.iban
        this.balance = e.detail.balance
        this.type_movto = e.detail.type_movto
        this.page = "opero-ingreso-saco"
      }
      newTransf(e) {
        console.log("nueva-transferencia")
        console.log(e)
        this.id_account = e.detail.id_account
        this.iban = e.detail.iban
        this.balance = e.detail.balance
        this.page = "opero-transfiero"
      }
      homePage() {
        console.log("home")
        this.page = "visor-cuenta"
        this.user_id = 0
        this.user_id = this.user_bk
      }
      vueltaPosicion(e) {
        console.log("home")
        console.log(e)
        this.page = "visor-cuenta"
        this.user_id = 0
        this.user_id = this.user_bk
        this.msg = e.detail.msg
        this.$.dialog.open()
      }
      _pageChanged(page) {
       var resolvedPageUrl = this.resolveUrl('../' + page + '/' + page + '.html');
       Polymer.importHref(
          resolvedPageUrl,
          null,
          console.log(resolvedPageUrl),
        true);
       }
    }
    // Añade la etiqueta de polimer para engancharlo
    window.customElements.define(GestorProceso.is, GestorProceso);
  </script>
</dom-module>
