<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Etiqueta para invocar -->
<dom-module id="alta-movto">
 <!-- Parte que pinta -->
  <template>
    <style>
      :host {
        display: block;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperinput{
                width: 25%;
                }
    </style>
    <iron-ajax
        id="doMovto"
        method="POST"
        body="[[getAjaxBody(amount, id_account, type_movto, observ)]]"
        url="http://localhost:3000/apitechu/v1/altamov"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovto extends Polymer.Element {
      static get is() { return 'alta-movto'; }
      static get properties() {
        return {
           id_account: {
              type: Number
           }, amount: {
              type: Number
           }, type_movto: {
              type: Number
           }, observ: {
              type: String
           }, movtoOk: {
              type: Boolean
           }, operacion: {
              type: Boolean,
              observer: '_controlOperacion'
           }
        };
      }

      _controlOperacion()
      {
        if (this.operacion)
        {
           this.$.doMovto.generateRequest();
        }
      }
      getAjaxBody(amount, id_account, type_movto, observ) {
        var newMovto  = {
          "import": this.amount,
          "id_account": this.id_account,
          "type_movto": this. type_movto,
          "observation": this.observ
        }
        return JSON.stringify(newMovto);
      }
      manageAJAXResponse(data)
      {
        this.dispatchEvent(
              new CustomEvent ("movto-event", {
                "detail":{
                "movtoOk": true,
                "id_account": this.id_account,
                "msg": "Operacion realizada correctamente"
              }, "cancelable":true, "cancelBubble":true}
            )
        );
        console.log("alta movto")
      }
      showError(error)
      {
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
              new CustomEvent ("movto-event", {
                "detail":{
                 "movtoOk": false,
                 "msg": "Error en alta de movimiento"
              }, "cancelable":true, "cancelBubble":true}
            )
        );
      }
    }
    window.customElements.define(AltaMovto.is, AltaMovto);
  </script>
</dom-module>
